# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Local execution logs
*.log

# Local manifest caches
map_cache/
game_cache/

# OS/System files
.DS_Store
Thumbs.db

#Current databases and output
games.csv
heatmap.html
dashboard.html

# Auto-counter background service setup
autocounter/

# Calculated build stats by map
winner_build_stats_by_map/


